// Sass

@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Exo');

$button-background-color: hsla(0, 0%, 50%, 0.15);
$button-hover-color: hsla(0, 0%, 50%, 0.30);
$button-color: hsla(0, 0%, 10%, 0.30);;
$nextprev-edge-margin: 2%;

$info-panel-background-color: hsla(0, 0%, 10%, 0.3);
$info-panel-text-color: white;
$info-panel-header-font: Vollkorn, Serif;
$info-panel-bodycopy-font: Exo, Arial, Sans-Serif;
$info-panel-link-color: hsla(0, 0%, 30%, 1);


html, body {
	// No browser default margin
	margin: 0;
	padding: 0;
}

iframe {
	border-width: 0px;
}

// Next/previous

.button {
	text-decoration: none;
	display: inline-block;

	padding: 0.4em; // 0.2em;
	font-size: 3em;
	background-color: $button-background-color;
	

	color: $button-color;
	
	position: absolute;
	z-index: 1;

	
	top: 35%;
	bottom: 35%;
	// transform: translate(0, -50%);
}

.button:hover {
	background-color: $button-hover-color;
	color: $button-color;
}

#previous {
	left: $nextprev-edge-margin;
}

#next {
	right: $nextprev-edge-margin;
}

// .round {
// 	border-radius: 50%;
// }

.info-panel {
	background: $info-panel-background-color;
	color: $info-panel-text-color;
	
	
	position: absolute;
	max-width: 400px;
	bottom: 10%;
	right: 10%;
	// margin-right: 10%;
	// left:  10%;
	margin-left: 10%;
	
	padding: 1em;

	h1 {
		font-family: $info-panel-header-font;
		// font-weight: bold;
		font-size: 1.5em;
	}

	p {
		font-family: $info-panel-bodycopy-font; 
		font-size: 1em;
	}

	a {
		color: $info-panel-link-color;
		text-decoration: none;
	}
}