// Sass

@import url('https://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Exo');

$button-background-color: hsla(0, 0%, 50%, 0.15);
$button-hover-color: hsla(0, 0%, 50%, 0.30);
$button-color: hsla(0, 0%, 10%, 0.30);;
$nextprev-edge-margin: 1.5rem;

$info-panel-background-color: hsla(0, 0%, 10%, 0.3);
$info-panel-text-color: white;
$info-panel-header-font: Vollkorn, Serif;
$info-panel-bodycopy-font: Exo, Arial, Sans-Serif;
$info-panel-link-color: hsla(0, 0%, 30%, 1);


html, body {
	// No browser default margin
	margin: 0;
	padding: 0;
}

iframe {
	border-width: 0px;
}

// Next/previous

.button {
	position: absolute;
	display: inline-block;
	
	// Center label
	display: flex;
	justify-content: center;
	flex-direction: column;

	padding: 1rem; // 0.2em;

	background-color: $button-background-color;
		
	z-index: 1;

	top: 43%;
	bottom: 43%;

	.button-label {
		font-size: 3rem;
		text-decoration: none;
		color: $button-color;
		text-align: center;
	}
}

.button:hover {
	background-color: $button-hover-color;
	color: $button-color;
}

#previous {
	left: $nextprev-edge-margin;
}

#next {
	right: $nextprev-edge-margin;
}

// .round {
// 	border-radius: 50%;
// }

.info-panel {
	background: $info-panel-background-color;
	color: $info-panel-text-color;
	
	position: absolute;
	max-width: 400px;
	bottom: $nextprev-edge-margin;
	right: $nextprev-edge-margin;
	// margin-right: 10%;
	// left:  10%;
	margin-left: $nextprev-edge-margin;
	
	padding: 1rem;

	h1 {
		font-family: $info-panel-header-font;
		// font-weight: bold;
		font-size: 1.5em;
	}

	p {
		font-family: $info-panel-bodycopy-font; 
		font-size: 1em;
	}

	a {
		color: $info-panel-link-color;
		text-decoration: none;
	}
}