[submodule "public/projects/p5/perlin"]
	path = public/projects/p5/perlin
	url = https://github.com/jttpo2/perlin
[submodule "public/projects/p5/blobs"]
	path = public/projects/p5/blobs
	url = https://github.com/jttpo2/blobs
[submodule "public/projects/p5/flowers"]
	path = public/projects/p5/flowers
	url = https://github.com/jttpo2/flowers
[submodule "public/projects/unity/flockheart"]
	path = public/projects/unity/flockheart
	url = https://github.com/jttpo2/flockheart-web-build
[submodule "public/projects/p5/code-rain"]
	path = public/projects/p5/code-rain
	url = https://github.com/jttpo2/code-rain
